<% content_for(:title) { 'Edit Team' } %>

<p>
  <%= form_with model: @team, url: team_path(id: @team.id), method: :put, local: true do |form| %>
    <%= render 'form', form: form %>
  <% end %>
</p>
