<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Type</th>
      <th>Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @entities.map do |entity| %>
      <tr>
        <td><%= entity.id %></td>
        <td><%= entity.entity_holder_type %></td>
        <td><%= entity.entity_holder.name %></td>
        <td><%= link_to "view", entity_path(entity) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
