<% content_for(:title) { 'Edit User' } %>

<p>
  <%= form_with model: @user, url: user_path(id: @user.id), method: :put, local: true do |form| %>
    <%= render 'form', form: form %>
  <% end %>
</p>
